.Login_component {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    background-color: blueviolet;
}
.Login_form_component{
    display: flex;
    flex-direction: column;
    
}

.Login_input_email_component{
    display: flex;
}

.Login_input_password_component{
    display: flex;
}

.Login_button_component{
    display: flex;

}

.Login_button_register_component{
    display: flex;

}

.background {
    background-image: url('https://i.pinimg.com/originals/fa/c5/da/fac5da92bfd44d02013076760996c6ff.jpgurl');
    width: 100%;
  }